* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    color: #222;
}

nav {
    background: #1e293b;
    color: white;
    padding: 18px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #dbeafe;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border: none;
    padding: 12px 22px;
    border-radius: 7px;
    cursor: pointer;
}

.container {
    width: 86%;
    margin: 40px auto;
}

.container h2 {
    margin: 25px 0;
}

.slot-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.slot {
    background: white;
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 3px 10px #ddd;
}

.slot h3,
.slot h2 {
    margin-bottom: 10px;
}

.available {
    border-top: 6px solid #16a34a;
}

.occupied {
    border-top: 6px solid #dc2626;
}

.form-container {
    width: 400px;
    max-width: 90%;
    margin: 80px auto;
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 3px 15px #ddd;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 13px;
    margin: 10px 0 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-container .btn {
    width: 100%;
}

.cancel {
    color: #dc2626;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 14px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background: #1e293b;
    color: white;
}